@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital@1&family=Pixelify+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image2.webp');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #ad5b287c;
    border: solid #ad5b28;
    color: #f9f8f9;
    display: inline-block;
    font-size: 2.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #886350;
    color: #cec5bb;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;

}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('/img/image1.jpeg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a{
    background-color: #89865ebe;
    border: solid #89865e;
    color: #cbc7b6;
    display: inline-block;
    font-size: 2.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #8d897a;
    color: #e0dfdc;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url('/img/image3.jpeg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a{
    background-color: #6d4a30a6;
    border: solid #6d4a30;
    color: #be9273;
    display: inline-block;
    font-size: 2.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #4b433c;
    color: #c0b9b1;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer {
    height: 250px;
    background-color: #75573c;
    color: #a2b2af;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem
}

.footer ul li a{
    color: #a2b2af;
    text-decoration: none;
}

.footer ul li:hover {
    color: #a2b2af;
    transform: scale(1.5);
}